.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  line-height: 1.5em;
  margin: 5px 10px 15px 5px;
  padding: 0;
}

li.list{
  margin-bottom: 5px;
  /* color: aqua; */
  list-style: none;
  /* position: relative; */
  padding: 0 0 0 20px;
}


li.list::before {
  content: ""; 
  /* position: absolute;  */
  left: 2px; 
  top: 5px; 
  width: 3px;
  height: 6px;
  border: solid #fc0217;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.weather-form{

  margin-top: 25px;

}

.LoginText{
  margin-top: 35px;
}